<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Flexible Micro_finance</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
  <div class="info">
     <h1>Flexible Loan info --> The interest rate is 18%</h1>
	

	<h2>Please enter the loan amount</h1>
    <form action="{{ url_for('amount')}}" method="post">
      <input type="text" name="v" placeholder="loan amount (egp)" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large"> Start calculations </button>

  <br>
  <br>
    </form>

{{ loan_size_txt }} 
  
	<form action="{{ url_for('freq')}}" method="post">

	<h2>Please enter the preferred frequency of payement</h2>
        <select name="option">
		<option value=" "></option>
            <option value="weekly">weekly</option>
            <option value="biweekly">biweekly</option>
            <option value="monthly">monthly</option>
        </select>
        <input type="submit" value="enter">
 <br>
  <br>
    </form>

{{ loan_size_txt }} 
<br>
{{ frequency_txt }} 

 <form action="{{ url_for('grace_period')}}" method="post">

	<h2>Do you want a grace period? </h2>
        <select name="option">
		<option value=" "></option>
		<option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <input type="submit" value="enter">
    </form>
{{ loan_size_txt }} 
<br>
{{ frequency_txt }} 
<br>
{{ options_txt }} 

 <form action="{{ url_for('grace_period_months')}}" method="post">
<br>
	<h4>If you want a grace period, How many months do you need?</h4>
        <select name="option">
		<option value=" "></option>
		<option value="1">1</option>
            <option value="2">2</option>
		<option value="3">3</option>
        </select>
        <input type="submit" value="enter">

<br>
  <br>
    </form> 

{{ loan_size_txt }} 
<br>
{{ frequency_txt }} 
<br>
{{ options_txt }} 
<br>

 <form action="{{ url_for('repayment_holiday')}}" method="post">

	<h2>Do you want a repayment holiday? </h2>
        <select name="option">
		<option value=" "></option>
		<option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <input type="submit" value="enter">
<br>
  <br>
    </form>
{{ loan_size_txt }} 
<br>
{{ frequency_txt }} 
<br>
{{ options_txt }} 
<br>
{{ options2_txt }} 

 <form action="{{ url_for('repayment_holiday_months')}}" method="post">

	<h4>If you want a repayment holiday, specify the months you need (up to 2 months):</h4>
<select name="option1">
		<option value=" "></option>
		<option value="jan">jan</option>
		<option value="feb">feb</option>
		<option value="mar">mar</option>
		<option value="apr">apr</option>
		<option value="may">may</option>
		<option value="jun">jun</option>
		<option value="jul">jul</option>
		<option value="aug">aug</option>
		<option value="sep">sep</option>
		<option value="oct">oct</option>
		<option value="nov">nov</option>
		<option value="dec">dec</option>

        </select>

<select name="option2">
		<option value=" "></option>
		<option value="jan">jan</option>
		<option value="feb">feb</option>
		<option value="mar">mar</option>
		<option value="apr">apr</option>
		<option value="may">may</option>
		<option value="jun">jun</option>
		<option value="jul">jul</option>
		<option value="aug">aug</option>
		<option value="sep">sep</option>
		<option value="oct">oct</option>
		<option value="nov">nov</option>
		<option value="dec">dec</option>

        </select>
        <input type="submit" value="enter">
<br>
  <br>
    </form>

{{ loan_size_txt }} 
<br>
{{ frequency_txt }} 
<br>
{{ options_txt }} 
<br>
{{ options2_txt }} 

<form action={{ url_for('final_tables')}}  method="post">
    <h2>Repayment schedule of standard loan vs chosen flexible loan </h2>
        <input type="submit" value="Show repayment schedule">


	<br>
  <br> 

{{ loan_size_txt }} 
<br>
{{ frequency_txt }} 
<br>
{{ options_txt }} 
<br>
{{ options2_txt }} 
<br>
<br>
{{ table_final | safe }}
</form>

  </div>
</body>

</html>
